.grid {
  display: grid;
  /* gap: 1em; */
  grid-template-rows: min-content 1fr min-content;
  /* grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "a h"
    "a c"
    "a f"; */
  height: calc(100vh - 15em);
  width: calc(100vw - 3em);
  margin: auto; /* not necessary, but just to be explicit */
  align-items: center;
  justify-content: center;
  /* margin: 1em; */
}
