@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

#root {
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgba(240, 240, 240, 255);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
